<!DOCTYPE html>
html(lang="rus")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title New Pogfish
    body
        div  
            h1 Новый дизайн нашего магазина
            p проверка gulpfile
    script(src='./js/main.js')

